.hero-text-area,
.hero-img-area {
    width: 50%;
}

.hero-text-area span {
    font-size: 90px;
    font-weight: bolder;
    color: #597D8F;
}

.hero-sub-title {
    font-size: 20px;
}

.hero-btn {
    padding: 15px 30px;
    font-weight: bold;
    color: #597D8F;
    background: transparent;
    border: 2px solid #597D8F;
    font-size: 18px;
    transition: 0.3s ease;
}

.hero-btn:hover {
    background: #597d8f;
    color: #fff;
}

.hero-img {
    width: 250px;
}

.customer-reviews-section {
    padding: 80px 0;
}

.reviews-btn {
    padding: 10px 20px;
    background: transparent;
    border: 2px solid #597D8F;
    font-size: 18px;
    font-weight: bold;
    color: #597D8F;
    transition: 0.3s ease;
}

.reviews-btn:hover {
    background: #597D8F;
    color: #fff;
}